html {
    margin: 0;
    padding: 0;
    height: 100%; 
}

body, main{
    background-color: #f8f6f9db;
    margin: 0;
    padding: 0;
    height:100%;
}

#col{
	min-height:80px;
	width:100px;
}


 /* Dropdown Button */
.dropbtn {
    background-color: #222;
    color:#9d9d9d;
    padding: 15px;
    font-size: 14px;
    border: none;
}
.dropbtn a{
	color:#9d9d9d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222c6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #3b3b3b40;
    z-index: 1;
    border-radius: 5px;
	
}

/* header inside the dropdown */
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #e8e8e8cc;
    white-space: nowrap;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #bf2d2da1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #080808;
}
.dropbtn a:hover{
	color:#fff;
	 text-decoration: none;
}
.dropbtn li{
	    text-decoration: none;
}
/*footer*/
#footer {
    position:relative;
    bottom:inherit;	
    background-color: #222222;
    margin:0px;
    height: 60px;
    clear:both;
    border-radius: 5px;
    color: #efe5d0;
    text-align: center;
    padding:0px;
    font-size: 90%;
    width:100%;
}

#footer ul   {       
    padding: 5px;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
 
#footer ul  li  {
display: inline;
 
}
 
#footer ul li a {
    text-decoration: none;
    font-family:Arial;
    padding: .2em 1em;
    color: #efe5d0;
    background-color: #3333;
}
 
#footer ul li a:hover {
    color: #080808;
    background-color: #222;
} 

/* contact us */
.form-required{
    color: rgb(255, 19, 19);
    font-size:16px;
}

.form-data{
    margin: 1% 700px 1% 50px;
    padding: 1% 2%;
    background-color: #dcdaffee;
    border-radius: 2%;
}

.form-data h2{
    line-height: 1%;
}

.form-data p {
    margin-left: 8  px;
}

@media(max-width:750px){
    .form-data{
        margin: 50px 75px;
        padding: 1% 2%;
        background-color: #dcdaffee;
        border-radius: 2%;
    }
}
 /* map embeding on contact us page */
#map{
    height: 60rem;
    width: 42%;
    display:inline;
    margin: 1rem 2em;
    float: right;
}

.contact-details{
    background-color: #f0f0f0;
    margin: 50px 500px 50px 4%;
    padding:20px;
    width: 50%;
    border-radius:10px;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("images/deliveryboy.jpg");

    /* Set a specific height */
    height: 90%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0px;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px #31313191;
}
.hero-text h1{
    font-size: 54px;
}
.hero-text p{
    font-size: 22px;

}

.lower-section{
    background-color: #8a7b7b;
}

.lower-section row{
    background-color: #ffffff ;
}