
<h3 align="center">&copy; Abhijeet Singh</h3>
<script src="scripts/test.js"></script>

<!--jQuery & Bootstrap js file link-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--WOW JS file linked & initalized-->
<script src="scripts/libs/wow.min.js"></script>
<script>new WOW().init();</script>
</body>
</html>