    
    <!-- footer section -->
    <footer>
        <div id="footer">
            <ul>
                <li align=left>
                    <a href="http://facebook.com/Abhijeet.Abzs">
                        <i class="fab fa-facebook-square"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">Careers</a>
                </li>
                <li>
                    <a href="">Help</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>Contact information:
                    <a href="mailto:contact@xyz.com">Mail to our company</a>
                </li>
            </ul>
        </div>
    </footer>
    
    <!-- our javascript file -->
    <script src="/scripts/theme.js"></script>
    
    <!--jQuery & Bootstrap js file link-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!--WOW JS file linked & initalized-->
    <script src="/scripts/libs/wow.min.js"></script>
    <script>new WOW().init();</script>
</body>

</html>