html{
    height: fit-content;
}
body{
  background-color: #ffffff;
  height: 100%;
}
/* header,nav{
    margin: 0;
    padding: 0;
} */

 #main{
  background-color: #ffffff;
}

/* legal disclaimer & Privacy Policy */

.headline{
    font-family: Advent Pro;
    font-weight: 700;
    text-align: center;
    color: #8e1919;
    line-height: 1.4em;
    font-size: 56px;
    margin:10px auto;
}
/* horizontal rule */
hr.style14 { 
    border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }

  .sub-heading{
    color: #b43738;
  }
  
  .content{
      margin-bottom: 3%;
  }
  
  h5{
      line-height: 1.8em;
      font-size: large;
  }
  h1{
      text-align: center;
      font-family: sans-serif;
  }
  .about-hr{
      width: 30%;
  }
  h3{
      font-family: cursive;
      text-align: center;
  }
  .bkgd,.well{
      background:rgb(255, 255, 255);
      border: none;
  }
  /* .te-img{
      display: block;
  }*/
  .com1{
      padding-top: 2%;
  }
  .sh-card{
      padding: 1%;
      margin: 2%;
      background: rgb(221, 238, 243);
      box-shadow: 1px 3px 8px #888888;
      border-radius: 6px;
  }
  span.name-of{
      padding-left: 10px;
      padding-top: 5%;
  }
/* this row class creating an error in mobile view
.row{
    margin-right: -15px;
}*/
#res-img{
    height:500px;
}
#te-card{
    padding-right: 0;
}
  /* maintest{
      height: 500px;
      width: max-content;
  } */
@media(max-width:480px)
  {
    .row h1{
        font-size: x-large;
    }
    .row h2{
        font-size: large;
    }
    #res-img{
        height: 250px;
    }
    .res-heading{
        font-size: x-large;
    }
    #te-card{
        font-size: small;
    }
    .row{
        margin-right: 0;
    }

  }