<!-- including header template -->
<% include partials/themeHeaderBack %>

<!-- jumbotron -->
<div class="jumbotron">
    <div class="container text-center">
        <h1>L D N</h1>
        <p>best delivery services provided by us</p>
    </div>
</div>
  <div class="container text-center">
      <div class="row">
      <div class="col-md-12 col-xs-12 well">
        <img src="/imagesBack/background.jpg" height="100%" width="100%" alt="Avatar">
    </div>
</div>
</div>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-12 col-xs-12 well2">
            <img src="/imagesBack/deliveryboy.jpg" height="100%" width="100%" alt="Avatar">
      </div>
    </div>
  </div>
  
  <!-- including footer template -->
  <% include partials/themeFooterBack %>