<% include partials/head %>
    <h1>This is the heading for this page.</h1>
    <img src="images/devil.png" alt="" height="300px" width="400px">
    <h1 id="timer" class="container" align="center">Redirecting to Home Page in
        <span> 5 </span> seconds...</h1>
        <h1>Error you are not logged-in.</h1>
    <div class="container">
        <ul class="social_list">
            <li>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" class="github">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" class="youtube">
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <% include partials/foot %>